---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Angelica Gomez</h1>
			<p class="hero__text">
	Este es mi primer portafolio, donde documento y presento mis actividades y avances en los temas aprendidos en la clase de Bases de Datos.
</p>

			<Boton href="#" texto="Quiero saber más"/>
		</div>
  <img
  class="hero__img"
  src="public/img/Angelica.png"
  alt="Angelica Gomez"0
  width="384"
  height="384"
/>

	</div>
</section>
