---
import Title from '../atoms/Title.astro';
import './skills.css';
---

<section id="skills" class="skills">
	<div class="skills__container">
		<div class="text-content">
			<Title contenido="Habilidades" />
			<p class="skills__description">
				"Como estudiante de Ingeniería de Sistemas, me enfoco en construir una buena base en los fundamentos y lógica de programación. 
				Actualmente, me dedico a la escritura de código limpio y la resolución eficiente de problemas.
				Mi objetivo es evolucionar mediante el aprendizaje continuo, la adaptabilidad a nuevos entornos tecnológicos y el compromiso en cada proyecto que inicio."
			</p>
		</div>
	</div>
</section>