---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/Angelica1.png" 
			alt="Foto de perfil de Angelica Gomez"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Estudiante de Ingeniería de Sistemas, caracterizada por la responsabilidad, el compromiso y la honestidad.
				Me adapto con facilidad al trabajo en equipo y mantengo un buen nivel de eficiencia en el cumplimiento de mis funciones.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>
</section>