---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import { mainMenu } from "../components/data/menuData";
---

<Layout title="Presentación | Angelica Gómez">
  <Header origin={mainMenu} />

  <main class="py-16 px-6 text-center">

    <h1 class="text-4xl font-bold mb-6">Presentación</h1>

    <img 
      src="/img/Angelica.png"
      alt="Foto de Angelica Gómez"
      class="w-40 h-40 mx-auto rounded-full shadow-xl mb-6"
    />

    <div class="flex justify-center">
  <div class="w-full max-w-3xl aspect-video">
    <iframe
      class="w-full h-full rounded-lg shadow-lg"
      src="https://www.youtube.com/embed/vjsCe8hjdMs"
      title="Video de presentación"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </div>
</div>

  </main>

  <Footer />
</Layout>
