---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import { mainMenu } from "../components/data/menuData";
---

<Layout title="Presentaci贸n | Angelica G贸mez">
  <Header origin={mainMenu} />

  <main class="py-16 px-6 text-center">

    <h1 class="text-4xl font-bold mb-6">Presentaci贸n</h1>

    <img 
      src="/img/Angelica.png"
      alt="Foto de Angelica G贸mez"
      class="w-40 h-40 mx-auto rounded-full shadow-xl mb-6"
    />

  <div class="flex justify-center">
  <div style="max-width: 800px; width: 100%;">
    <iframe
  width="100%"
  height="450"
  src="https://www.youtube.com/embed/aqz-KE-bpKQ"
  title="Video de prueba"
  frameborder="0"
  allowfullscreen>
</iframe>
  </div>
</div>


  </main>

  <Footer />
</Layout>
